* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #222;
}

a {
	text-decoration: none;
	color: #425969;
}

a:hover {
	text-decoration: underline;
	color: #111;
}

#wrap {
	margin: 0 auto;
	width: 1024px;
}

#header {
	height: 110px;
	background: #fff url(../../image/admin/header.jpg) no-repeat;
}

#header h1 {
	font-size: 28px;
	letter-spacing: -1px;
	padding: 15px 0 0 20px;
	color: #fff;
}

#header h1 a {
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -2px;
}

#header h1 a:hover {
	color: #fff;
}

#header h2 {
	font-size: 19px;
	color: #e1c70e;
	padding: 5px 0 0 20px;
	letter-spacing: -1px;
	font-weight: 100;
}

#content {
	padding: 0 20px;
}

.center {
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
}

.center h2 {
	font-size: 18px;
	font-weight: 100;
	color: #fff;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	background: #425969;
}

.center h2 a {
	text-decoration: none;
	color: #fff;
}

.center h2 a:hover {
}

.right {
	float: right;
	width: 794px;
	text-align: justify;
	padding-top: 20px;
}

.right h2 {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	background: #425969;
}

.right h2 a {
	text-decoration: none;
	color: #fff;
}

.right h2 a:hover {
}

.left {
	float: left;
	width: 180px;
	padding-top: 10px;
}

.left h2 {
	margin: 10px 0 0 0;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	background: #425969;
	color: #fff;
	font-size: 13px;
}

.left ul {
	padding: 10px 0 15px 20px;
	color: #425969;
}

.left ul li a {
	text-decoration: none;
	font-weight: 600;
}

.left ul li a:hover {
	
}

.articles {
	padding: 10px;
}

#footer {
	text-align: center;
	font-size: 11px;
	color: #aaa;
	margin-top: 40px;
	border-top: 1px dotted #aaa;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer a {
	color: #aaa;
}

#footer a:hover {
	color: #111;
}

/* form */
input {
	border: 1px solid #999;
	margin: 0px 5px;
	padding: 2px;
}

input.button {
	font-weight: bold;
	background: #FFF;
	padding: 0px 3px;
}

/* table */
table {
	margin-top: 10px;
	margin-bottom: 15px;
	border-collapse: collapse;
	border: none;
}

th,td {
	border: solid #999 1px;
	padding: 3px;
}

table.noborder th,table.noborder td {
	border: none;
}

table a {
	text-decoration: underline;
}

ol,ul {
	margin-top: 10px;
}

li {
	line-height: 22px;
	text-align: left;
}

ol.top,ul.top {
	margin-top: 0px;
}

/* Success, notice and error boxes
-------------------------------------------------------------- */
.error {
	color: #8a1f11;
}

.notice {
	color: #514721;
}

.success {
	color: #264409;
}

.error a {
	color: #8a1f11;
}

.notice a {
	color: #514721;
}

.success a {
	color: #264409;
}

/* Page style
-------------------------------------------------------------- */
#loginForm, #tempPasswordForm {
	padding: 5px 0 0 370px;
}

.welcome {
	color: #000;
	font-size: 12px;
	font-weight: 600;
	padding-left: 11px;
	color: #425969;
}